.close {
  display: none;
}
#btn{
  display: none;
}
.btn-open {
  display: block;
}

.btn-close {
  display: none;
}

@media (max-width: 900px) {
  /* Estilo para ocultar o menu quando o menu não estiver aberto */
  #nav {
    display: none;
  }

    .btn-open {
    display: none;
  }

  .btn-close {
    display: block;
  }

  .btn-responsive {
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
  }
  #btn{
    display: flex;
  }

  .menu-responsive{
    transform: translateY(56px);
    position: absolute;
    width: 95vw;
    height: 200px;
    z-index: 1;
  }
  #menu-content, #menu-content ul{
    width: 100%;
  }

  #menu-content ul{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    color: white;
  }

  #menu-content a{
    padding: 20px;
  }

  #part1 .conteudo, #part2 .conteudo{
    max-width: 90%;
  }

  #skill{
    justify-content: center;
  }

  #skill .container{
    max-width: 90%;
  }
  #skill #card{
    width: 150px;
  }

  #projects a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  #skill #card{
    width: 110px;
  }
  #skill #card img{
    width: 50px;
  }
  .title-responsive{
    font-size: 35px;
  }
  .desc-responsive{
    font-size: 18px;
  }
}

@media (max-width: 650px){
  #about{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #skills{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
}

@media (max-width: 425px){
  #content{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #content #description{
    align-items: center;
  }
  #content #description #apresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #content #img-content{
    margin: auto;
  }
  #about{
    height: auto;
  }
  #apresentation h1{
    text-align: center;
    font-size: 25px;
  }
  #apresentation p{
    font-size: 20px;
  }
  #home .index{
    align-items: baseline;
  }
  #part2 .img-content{
    padding: 10px;
  }
  #part2 p{
    padding: 10px;
  }
  #skill h1{
    margin-bottom: 20px;
  }
  #skills{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
  #skill #card{
    width: 100px;
    height: 110px;
  }
  #skill #card img{
    width: 30px;
  }
  #skill #card h1{
    font-size: 13px;
  }
  #title h1{
    font-size: 30px;
  }
  #title p{
    font-size: 13px;
  }
  #projects h1{
    font-size: 25px;
  }
  #projects p{
    font-size: 18px;
  }
  #projects #card img, #card .description{
    width: 90%;
  }
  #projects #img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact .Contacts{
    flex-direction: column;
    align-items: center;
  }
  #contact .email{
    margin-bottom: 50px;
  }
}
